.showHinhSanPham {
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 20px;
}

.wrap-search {
  background-color: #fff6c3;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  font-weight: 500;
}

.wrap-search i {
  margin-right: 3px;
}
