#chitiet-sp .chitiet-sp-img {
  width: 100%;
  height: 350px;
}

#chitiet-sp .header-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  color: #4C93B8;
}

#chitiet-sp .chitiet-sp-gia {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #E62534;
  border: none;
  display: block;
}

ul.chitiet-sp-nav {
  border-bottom: 1px solid #F68A1F;
}

ul.chitiet-sp-nav li a {
  background: #F68A1F;
  border: none;
  color: #fff;
}
