#sb-facebook, #sb-tintuc {
  margin-top: 20px;
}

#sb-facebook h3.header-title, #sb-tintuc h3.header-title {
  font-size: 15px;
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Tahoma;
  border-bottom: 1px solid #F68C22;
  margin-top: 10px;
}

#sb-facebook h3.header-title span, #sb-tintuc h3.header-title span {
  color: #444;
  display: inline-block;
  padding: 0 10px 0 0;
}

#sb-facebook h3.header-title span:before, #sb-tintuc h3.header-title span:before {
  content: "\F00B";
  padding: 10px;
  background-color: #706363;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-right: 10px;
}

#sb-tintuc .one-sb-tintuc {
  margin-top: 20px;
}

#sb-tintuc .one-sb-tintuc .sb-tintuc-img {
  width: 100%;
  height: 150px;
}
