@import url(https://fonts.googleapis.com/css?family=Roboto);body {
  font: 400 14px/20px Roboto, sans-serif !important;
  line-height: 1.6;
  webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 768px) {
  body .big-wrap {
    padding-top: 50px;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif !important;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f47d18, 0.6em 0 0 0 #f47d18;
  box-shadow: 0.5em 0 0 0 #f47d18, 0.6em 0 0 0 #f47d18;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #f47d18;
  box-shadow: 0 0 0 #f47d18;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #f47d18;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo2.png);
  height: calc(56px*3);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 0px transparent !important;
          box-shadow: 0px 0px 0px transparent !important;
}

.nivoSlider img {
  width: 100% !important;
  height: auto;
}

.nivo-main-image {
  width: 100% !important;
  height: auto;
}

.slider-on-mobile {
  position: relative;
}

.slider-on-mobile .slider-mobile {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  padding-top: 40px;
}

.slider-on-mobile .slider-mobile-text {
  position: absolute;
  display: block;
  text-align: center;
  top: 90.5%;
  z-index: 99999;
  min-height: 100vh;
  color: white;
  width: 100%;
}

.slider-on-mobile .slider-mobile-text .slider-header {
  font-size: 40px;
  text-transform: uppercase;
}

.slider-on-mobile .slider-mobile-text .slider-description {
  font-size: 25px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.6;
}

.slider-on-mobile .slider-mobile-text .btn-lienhe {
  background-color: #960d13;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  width: 50%;
  height: 50px;
  -webkit-transition: background-color .2s linear 0s;
  transition: background-color .2s linear 0s;
}

.slider-on-mobile::after {
  position: absolute;
  content: '';
  display: block;
  min-height: 100vh;
  width: 100%;
  top: 0;
}

@media screen and (max-width: 415px) {
  .nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}

#top-info {
  background-size: cover;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  color: white;
}

#top-info .top-info-left {
  float: left;
}

#top-info .top-info-left {
  float: right;
}

#logo-top {
  background-size: cover;
  padding-top: 6px;
  padding-bottom: 6px;
}

#logo-top img.logo-img {
  width: 300px;
  height: auto;
  margin-top: 18px;
}

#logo-top img.logo-img2 {
  width: 380px;
  height: auto;
  float: right;
}

#menu-ngang {
  background-color: #162a86;
  margin-bottom: 5px;
}

#menu-ngang ul.menu-detail {
  display: block;
  float: left;
}

#menu-ngang ul.menu-detail li {
  display: inline-block;
}

#menu-ngang ul.menu-detail li a {
  text-decoration: none;
  padding: 14px 25px 11px;
  display: block;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  font-size: 15px;
  text-transform: uppercase;
}

#menu-ngang ul.menu-detail li a:hover {
  background-color: #F68C22;
}

#menu-ngang ul.menu-detail li a.active {
  background-color: #F68C22;
}

#menu-ngang ul.menu-search {
  display: block;
  float: right;
  height: 45px;
}

#menu-ngang ul.menu-search li {
  display: inline-block;
  float: left;
}

#menu-ngang ul.menu-search li input {
  height: 45px;
  float: right;
  width: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #bdbdbd;
  color: white;
  border: none;
}

#menu-ngang ul.menu-search li a {
  padding: 15px;
  background-color: #01124c;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 45px;
  float: left;
}

#menu-ngang-scroll {
  background-color: #162a86;
  margin-bottom: 20px;
}

#menu-ngang-scroll ul.menu-detail {
  display: block;
  float: left;
}

#menu-ngang-scroll ul.menu-detail li {
  position: relative;
  display: inline-block;
}

#menu-ngang-scroll ul.menu-detail li > ul.sub-menu {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
}

#menu-ngang-scroll ul.menu-detail li > ul.sub-menu li {
  display: block;
}

#menu-ngang-scroll ul.menu-detail li > ul.sub-menu li a {
  float: none;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #444;
  font-weight: bold;
  background-color: #E7E8EA;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

#menu-ngang-scroll ul.menu-detail li > ul.sub-menu li a:hover {
  color: white;
  background-color: #162a86 !important;
}

#menu-ngang-scroll ul.menu-detail li > ul.sub-menu li a:before {
  content: "\F111";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  margin-right: 5px;
}

#menu-ngang-scroll ul.menu-detail li a {
  text-decoration: none;
  padding: 15px 25px 10px;
  display: block;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

#menu-ngang-scroll ul.menu-detail li a:hover {
  background-color: #626262;
}

#menu-ngang-scroll ul.menu-detail li:hover > ul.sub-menu {
  display: block;
}

#menu-ngang-scroll ul.menu-search {
  display: block;
  float: left;
  height: 45px;
}

#menu-ngang-scroll ul.menu-search li {
  display: inline-block;
  float: left;
}

#menu-ngang-scroll ul.menu-search li input {
  height: 45px;
  float: right;
  width: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #706363;
  color: white;
  border: none;
}

#menu-ngang-scroll ul.menu-search li a {
  padding: 15px;
  background-color: #5E5555;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 45px;
  float: left;
}

#menu-danhmuc h3 {
  background-color: #162a86;
  font-size: 15px;
  line-height: 1.8;
  padding: 6px 20px 4px 10px;
  text-align: center;
  text-transform: uppercase;
  border-left: 8px solid #F68C22;
  position: relative;
}

#menu-danhmuc h3 span {
  color: white;
}

#menu-danhmuc h3 span:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 10px;
  top: 0;
  left: 0;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-right: 10px;
}

#menu-danhmuc ul {
  display: block;
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-danhmuc ul li a {
  float: none;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #444;
  text-transform: uppercase;
  background-color: #E7E8EA;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

#menu-danhmuc ul li a:hover {
  color: white;
  background-color: #162a86 !important;
}

#menu-danhmuc ul li a:before {
  content: "\F261";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-right: 5px;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

#footer {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #333;
  margin-top: 20px;
}

#footer h3 {
  color: #F68A1F;
  text-transform: uppercase;
  font: bold 13px Arial;
  border-bottom: 1px solid #F68A1F;
  padding-bottom: 5px;
  margin-bottom: 18px;
}

#footer a {
  display: block;
  margin: 4px 0;
  color: #979696;
}

#footer a:before {
  content: "\F101";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-right: 5px;
  color: #F68A1F;
}

#footer-infor {
  text-align: center;
  background-color: #031460;
  padding-top: 12px;
  padding-bottom: 10px;
}

#footer-infor p {
  color: #999999;
  padding-top: 6px;
}

#footer-infor ul {
  list-style-type: none;
}

#footer-infor ul li {
  display: inline-block;
}

#footer-infor ul li a {
  color: white;
  padding: 0px 10px;
}
