.tc-sanpham {
  margin-top: 20px;
}

.tc-sanpham h3.header-title {
  font-size: 15px;
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Tahoma;
  border-bottom: 1px solid #F68C22;
  margin-top: 10px;
}

.tc-sanpham h3.header-title span {
  color: #444;
  display: inline-block;
  padding: 0 10px 0 0;
}

.tc-sanpham h3.header-title span:before {
  content: "\F00B";
  padding: 10px;
  background-color: #706363;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-right: 10px;
}

.tc-sanpham h3.header-title a {
  float: right;
  margin-right: 10px;
}

.tc-sanpham .tc-list-sp {
  margin-top: 20px;
}

.tc-sanpham .tc-list-sp .tc-one-sp a .tc-one-sp-img {
  width: 100%;
  height: 170px;
}

.tc-sanpham .tc-list-sp .tc-one-sp a .tc-one-sp-info {
  display: block;
  text-align: center;
}

.tc-sanpham .tc-list-sp .tc-one-sp a .tc-one-sp-info h3 {
  font-weight: bold;
  color: #444;
  display: block;
  font-size: 12px;
  margin: 5px 0;
}

.tc-sanpham .tc-list-sp .tc-one-sp a .tc-one-sp-info span {
  font-weight: bold;
  font-size: 16px;
  font-family: Tahoma;
  color: #E62534;
  border: none;
}

.tc-sanpham .tc-list-sp .tc-one-sp a .tc-one-sp-btn {
  background: #706363;
  color: #fff;
  border-radius: 0;
  padding: 0 10px 0 0;
  font-size: 13px;
  display: block;
  overflow: hidden;
  line-height: 2.8;
  text-align: center;
  border: 3px double #fff;
  font-weight: bold;
}

.tc-sanpham .tc-list-sp .tc-one-sp a .tc-one-sp-btn:before {
  content: "\F101";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  padding: 11px;
  background: #F68A1F;
  margin-right: 5px;
  font-size: 16px;
  float: left;
}

#tc-tintuc {
  margin-top: 20px;
}

#tc-tintuc h3.header-title {
  font-size: 15px;
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Tahoma;
  border-bottom: 1px solid #F68C22;
  margin-top: 10px;
}

#tc-tintuc h3.header-title span {
  color: #444;
  display: inline-block;
  padding: 0 10px 0 0;
}

#tc-tintuc h3.header-title span:before {
  content: "\F00B";
  padding: 10px;
  background-color: #706363;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-right: 10px;
}

#tc-tintuc h3.header-title a {
  float: right;
  margin-right: 10px;
}

#tc-tintuc .tc-list-tt {
  margin-top: 20px;
}

#tc-tintuc .tc-list-tt .tc-one-tt a .tc-one-tt-img {
  width: 100%;
  height: 150px;
}

#tc-tintuc .tc-list-tt .tc-one-tt a .tc-one-sp-info {
  display: block;
  text-align: center;
}

#tc-tintuc .tc-list-tt .tc-one-tt a .tc-one-sp-info h3 {
  font-weight: bold;
  color: #444;
  display: block;
  font-size: 12px;
  margin: 5px 0;
}

#tc-lienhe .tc-lienhe-info {
  background-color: #f68a1f;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
}

#tc-lienhe .tc-lienhe-info i {
  margin-right: 15px;
  font-size: 40px;
}

#tc-lienhe .tc-lienhe-info span {
  vertical-align: text-top;
}
