#top-info {
  //background-color: #F68C22;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 6px;
  padding-bottom: 6px;
  //font-weight: bold;
  font-size: 13px;
  color: white;
  .top-info-left {
    float: left;
  }
  .top-info-left {
    float: right;
  }
}

#logo-top {
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 6px;
  padding-bottom: 6px;
  img.logo-img {
    width: 300px;
    height: auto;
    margin-top: 18px;
  }

  img.logo-img2 {
    width: 380px;
    height: auto;
    float: right;
  }
}

#menu-ngang {
  background-color: #162a86;
  margin-bottom: 5px;
  ul.menu-detail {
    display: block;
    float: left;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        padding: 14px 25px 11px;
        display: block;
        color: #fff;
        transition: all 0.2s ease-in-out 0s;
        font-size: 15px;
        text-transform: uppercase;
        //font-weight: bold;
      }
      a:hover {
        background-color: #F68C22;
      }
      a.active {
        background-color: #F68C22;
      }
    }
  }
  ul.menu-search {
    display: block;
    float: right;
    height: 45px;
    li {
      display: inline-block;
      float: left;
      input {
        height: 45px;
        float: right;
        width: 200px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #bdbdbd;
        color: white;
        border: none;
      }
      a {
        padding: 15px;
        background-color: #01124c;
        color: #fff;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        height: 45px;
        float: left;
      }
    }
  }
}

#menu-ngang-scroll {
  background-color: #162a86;
  margin-bottom: 20px;
  ul.menu-detail {
    display: block;
    float: left;
    li {
      position: relative;
      > ul.sub-menu {
        position: absolute;
        z-index: 1;
        display: none;
        width: 100%;
        li {
          display: block;
          a{
            float: none;
            font-size: 14px;
            border-bottom: 1px solid #fff;
            padding: 10px;
            display: block;
            text-decoration: none;
            color: #444;
            font-weight: bold;
            background-color: #E7E8EA;
            -webkit-transition: background-color 1s ease-out;
            transition: background-color 1s ease-out;
          }
          a:hover{
            color: white;
            background-color: #162a86!important;
            //background-color: #F68C22 !important;
          }
          a:before{
            content: "\F111";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            margin-right: 5px;
          }
        }
      }
      display: inline-block;
      a {
        text-decoration: none;
        padding: 15px 25px 10px;
        display: block;
        color: #fff;
        transition: all 0.2s ease-in-out 0s;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
      }
      a:hover {
        background-color: #626262;
      }
    }
    li:hover{
      >ul.sub-menu{
        display: block;
      }
    }
  }
  ul.menu-search {
    display: block;
    float: left;
    height: 45px;

    li {
      display: inline-block;
      float: left;
      input {
        height: 45px;
        float: right;
        width: 200px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #706363;
        color: white;
        border: none;
      }
      a {
        padding: 15px;
        background-color: #5E5555;
        color: #fff;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        height: 45px;
        float: left;
      }
    }
  }
}