#tc-lienhe {
  .tc-lienhe-info {
    background-color: #f68a1f;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
    i {
      margin-right: 15px;
      font-size: 40px;
    }
    span {
      vertical-align: text-top;
    }
  }
}