.trangchu-tag{
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 15px;
  a{
    color: #878585;
  }
}

#tc-lienhe {
  .tc-lienhe-info {
    background-color: #031460;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-top: 20px;
    i {
      margin-right: 15px;
      font-size: 40px;
    }
    span {
      vertical-align: text-top;
    }
  }
}