@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font: 400 14px/20px Roboto,sans-serif!important;
  line-height: 1.6;
  webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 768px) {
  body{
    .big-wrap{
      padding-top: 50px
    }
  }
}

@import "reset";
@import "m-category";
@import "m-menu-blur";
@import "fe.slider";
@import "fe.menu.ngang";
@import "fe.menu.danhmuc";
@import "fe.phoneanimation";
@import "fe.footer";